<!--src\app\app.component.html-->
<h1>
    Angular + WebSockets
  </h1>
  <br>
  <div class="row">
    <div class="column">
      <button class="btn btn-sm btn-success" (click)="newConnection()">Create Connection</button>
      <button class="btn btn-sm btn-danger" (click)="closeConnection()">Close Connection</button>
      <textarea [(ngModel)]="content" name="contentInput" cols="40" rows="5"></textarea>
      <br>
      <button class="btn btn-outline-dark btn-sm" (click)="sendMsg()">Send Message</button>
    </div>
  
  </div>
  <br>
  <div>
    <h1>Sent Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of sent">{{item}}</li>
    </ul>
  </div>
  
  <br>
  <div>
    <h1>Received Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of received">{{item}}</li>
    </ul>
  </div>
  
  