<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink = "/home" routerLinkActive= "active">Home</a></li>
            <li class="breadcrumb-item"><a routerLink = "/emp-rec" routerLinkActive= "active">Employee Records</a></li>
            <li class="breadcrumb-item active" aria-current="page">Employee Details</li>
        </ol>
    </nav>
</div>
<div class="conatiner d-flex justify-content-center flex-column">
    <div class="card  px-5 pb-5">
        <p class="text-center fs-3 fw-bold pt-3 mb-3">Employee Detail</p>
        <p>{{empRecord.name}}</p>
        <p>{{empRecord.empID}}</p>
        <p>{{empRecord.post}}</p>
        <p>{{empRecord.department}}</p>
        <p>{{empRecord.bond}} </p>
        <p>{{empRecord.joining}}</p>
    </div>
    <div class=" d-flex justify-content-center">
    <a class="btn btn-primary btn-sm mt-2" routerLink="/emp-rec">Back</a>
</div>
</div>

