<!-- <p class="fs-2 m-3 text-dark text-center">Hello World In Angular</p> -->
<!-- ############################ -->
<!-- <app-binding></app-binding> -->
<!-- ############################ -->

<!-- Recommanded Way to add Element -->
<!-- ############################ -->
<!-- <app-demo></app-demo> -->
<!-- ############################ -->

<!-- We can add Selector by class(.) to use this we have to add extra-dot in selector name -->
<!-- <div class="app-demo"></div> -->
<!-- We can add Selector as Attribute
    [selector-name] in decorator
-->
<!-- <div selector-name ></div> -->

<!-- <app-tsk></app-tsk> -->
<!-- <app-tempdriv></app-tempdriv> -->
<!-- <app-forms></app-forms> -->
<app-routes></app-routes>
<!-- For TO-DO List Project Task -->
<!-- <app-todo-pro></app-todo-pro> -->


