<nav class="navbar navbar-expand-lg bg-secondary pb-0">
  <div class="container-fluid ">
    <a class="navbar-brand fw-bold text-light " href="#" routerLink="">Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light nav-tabs">
        <li class="nav-item">
          <a class="nav-link fw-bold " href="#" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold " href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Angular Topics
          </a>
          <ul class="dropdown-menu bg-secondary  manmade-sublist">
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/tempform" routerLinkActive="active">Tempate Driven
                Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/reactform" routerLinkActive="active">Reactive Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/todo" routerLinkActive="active">To-Do List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/binding" routerLinkActive="active">Data Binding Exp.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/directive" routerLinkActive="active">Directive
                Example</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/carlist" routerLinkActive="active">Car List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/sign-form" routerLinkActive="active">Sign-up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/services-example" routerLinkActive="active">Services
                Example</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/emp-rec" routerLinkActive="active">Employee Records</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#" routerLink="/pipes-example" routerLinkActive="active">Pipes
                Example</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#" routerLink="/lifecylce-hooks" routerLinkActive="active">Life Cycle
            Hooks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#" routerLink="/apiCall" routerLinkActive="active">API CRUD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#" routerLink="/graphs-charts" routerLinkActive="active">Charts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#" routerLink="/parent-comp" routerLinkActive="active">Parent Component</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#" routerLink="/dashboad" routerLinkActive="active">DashBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#" routerLink="/web-socket" routerLinkActive="active">Web Socket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#" routerLink="/api-calls" routerLinkActive="active">Firebase Api</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>