<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <i class="bi bi-window-x float-end"></i>
        </div>
        <div class="col-6">
            <div class="">
                <p class="mt-5 mb-0 notfound">Page Not Found</p>
                <p>We can't find the page you're looking for.</p>
                <p>You can either return to the previous page, visit our homepage or contact our support team</p>
                <a class="btn btn-sm btn-outline-dark"  href="#" routerLink = "/home" routerLinkActive= "active">Visit Homepage</a>
            </div>
        </div>
    </div>
</div>