<div class="container">
    <div class="row">
        <div class="col-12">    
            <p class="text-center fs-1 mt-3">What is Angular ?</p>
        </div>
        <div class="col-12">
            <p class="">Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications. As a framework, Angular has clear advantages while also providing a standard structure for developers to work with. It enables users to create large applications in a maintainable manner.<p>
            <h5>Why Do You Need a Framework?</h5>
            <p>Frameworks in general boost web development efficiency and performance by providing a consistent structure so that developers don't have to keep rebuilding code from scratch. Frameworks are time savers that offer developers a host of extra features that can be added to software without requiring extra effort.</p>
            <a class="btn btn-primary btn-sm mt-2" routerLink="project">My Project</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
    <p>Here we Injecting Services</p>
    <p>{{msg}}</p>
<!-- <div class="d-flex justify-content-center flex-column">
    <p class="text-center fs-3 mt-5">Rounting in Angular</p>
    <p class="mt-5">In a single-page app, you change what the user sees by showing or hiding portions of the display that correspond to particular components, rather than going out to the server to get a new page. As users perform application tasks, they need to move between the different views that you have defined.
    To handle the navigation from one view to the next, you use the Angular Router. The Router enables navigation by interpreting a browser URL as an instruction to change the view.</p>
</div> -->